# Git
.git
.gitignore

# Jekyll outputs and caches
_site/
.jekyll-cache/
.jekyll-metadata

# Local Ruby environment
vendor/
.bundle/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# OS files
.DS_Store