@import "./color_schemes/dark";

// Colors
$cloud-blue: #1e90ff; // The "Dodger Blue" you had
$cloud-cyan: #00ffff; // Electric Cyan for that "active" feel

// Link Overrides
$link-color:           $cloud-blue;
$nav-child-link-color: $link-color;

// Make headers pop slightly to match
$body-heading-color: lighten($cloud-blue, 20%);